* {
  margin: 0px;
  padding: 0px;
}
.bujuleftright {
  height: 395px;
  width: 49.7%;
  display: inline-block;
  position: relative;
  top: 39px;
}
.help0 {
  height: 250px;
  width: 279.2px;
  position: relative;
  float: left;
}
.wrap {
  width: 1230px;
  height: 2300px;
}
.yonghudenglu .t1 {
  width: 246px;
}
.yonghudenglu .t2 {
  width: 492px;
}
.yonghudenglu .t3 {
  width: 184.5px;
}
.yonghudenglu .t4 {
  width: 307.5px;
  height: 37px;
}
.yonghudenglu .t4 #t41 {
  display: inline-block;
  width: 107.5px;
  height: 22px;
}
.yonghudenglu .t4 #t41 #t40 {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 80px;
  transition: all 0.5s;
}
.tupian {
  height: 100px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  overflow: hidden;
}
.tupian .tupian1 {
  display: inline-block;
}
.tupian .tupian1 #tupian11 {
  width: 260px;
  height: 80px;
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
  transition: all 0.5s;
}
.tupian .tupian2 {
  display: inline-block;
}
.tupian .tupian2 #tupian21 {
  width: 500px;
  height: 80px;
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 100px;
  transition: all 0.5s;
}
.tupian .sousuokuang {
  height: 75px;
  display: inline-block;
  position: relative;
  top: 25px;
  left: 220px;
}
.tupian .sousuokuang .SearchBox {
  height: 60px;
  width: 300px;
  display: inline-block;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
  border-right: none;
}
.tupian .sousuokuang .SearchBtn {
  height: 60px;
  width: 60px;
  border: 1px solid #c70606;
  background: transparent;
  color: #b0b0b0;
  vertical-align: middle;
  position: relative;
  line-height: 50px;
  padding: 3px;
}
.tupian .sousuokuang .hotword {
  position: absolute;
  text-align: right;
  left: 50px;
  top: 118px;
  margin-top: -98px;
  margin-left: 87px;
}
.tupian .sousuokuang .hotword a {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e3e3e3;
  color: #757575;
  display: inline-block;
  line-height: 1.42857143;
  /*1.42857143why*/
  position: relative;
}
.tupian .sousuokuang .hotword a:hover {
  text-decoration: none;
  background: #ff6700;
  color: #fff;
}
.tupian .sousuokuang #fa-search {
  font-size: 2.0em;
}
.daohang {
  margin-left: 0px;
  height: 40px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 10px;
  overflow: hidden;
  border-bottom: 1px solid #1388f5;
}
.daohang li {
  width: 96px;
  line-height: 46px;
  text-align: center;
}
.daohang li:hover {
  text-decoration: none;
  background: #1388f5;
  color: #fff;
}
.yuanxiao {
  height: 396px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 11px;
  overflow: hidden;
}
.yuanxiao .left0 {
  width: 300px;
  height: 396px;
  background-color: #ebe7e5;
  display: inline-block;
}
.yuanxiao .left0 .l1 {
  height: 39px;
  width: 25%;
  position: absolute;
  border-bottom: 1px solid #353333;
}
.yuanxiao .left0 .l1 .shu {
  height: 30px;
  width: 5px;
  display: inline-block;
}
.yuanxiao .left0 .l1 .shu #l10 {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 3px;
  left: 10px;
  transition: all 0.5s;
}
.yuanxiao .left0 .l1 .wenzi1 {
  height: 100%;
  width: 100px;
  font-size: 19px;
  line-height: 33px;
  font-weight: 800;
  color: black;
  position: relative;
  top: 4px;
  text-align: center;
  display: inline-block;
  z-index: 0;
}
.yuanxiao .left0 .l1 .wenzi2 {
  height: 100%;
  width: 100px;
  font-size: 15px;
  line-height: 33px;
  font-weight: 500;
  color: #353333;
  position: relative;
  top: 6px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 90px;
}
.yuanxiao .left0 .l2 {
  height: 277px;
  width: 25%;
  position: absolute;
  top: 39px;
}
.yuanxiao .left0 .l2 .tupianyuanxiao {
  height: 100px;
  width: 90%;
  display: inline-block;
}
.yuanxiao .left0 .l2 .tupianyuanxiao #l20 {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 23px;
  left: 15px;
  transition: all 0.5s;
}
.yuanxiao .left0 .l2 .wenzi3 {
  height: 10%;
  width: 100%;
  font-size: 23px;
  line-height: 33px;
  font-weight: 500;
  color: #0c0c0c;
  position: relative;
  top: 32px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 10px;
  text-align: left;
}
.yuanxiao .left0 .l2 .wenzi4 {
  height: 15%;
  width: 100%;
  font-size: 15px;
  line-height: 33px;
  font-weight: 100;
  color: #353333;
  position: relative;
  top: 32px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 10px;
  text-align: left;
}
.yuanxiao .left0 .l3 {
  height: 30%;
  width: 25%;
  position: absolute;
  top: 278px;
  border-top: 1px solid #353333;
}
.yuanxiao .left0 .l3 ul {
  list-style: square;
}
.yuanxiao .left0 .l3 ul li {
  height: 10%;
  width: 100%;
  font-size: 17px;
  line-height: 33px;
  font-weight: 500;
  color: #0c0c0c;
  position: relative;
  top: 9px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 10px;
  text-align: left;
}
.yuanxiao .right0 {
  width: 891px;
  height: 396px;
  background-color: #ebe7e5;
  display: inline-block;
  position: relative;
  left: 5px;
}
.yuanxiao .right0 .lunbotu .tp-list {
  width: 100%;
  height: 100%;
}
.yuanxiao .right0 .lunbotu .tp-list .tp-item {
  width: 100%;
  height: 100%;
  list-style: none;
  /*很重要 让前面的样式消失，就是列表的前面的黑点，或者方块之类的 */
  position: absolute;
  top: 0;
}
.yuanxiao .right0 .lunbotu .tp-list .tp-item.active {
  z-index: 1;
}
.yuanxiao .right0 .lunbotu .tp-list .tp-item:nth-child(1) {
  background: url(素材/bsd.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.yuanxiao .right0 .lunbotu .tp-list .tp-item:nth-child(2) {
  background: url(素材/bsp.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.yuanxiao .right0 .lunbotu .point-list {
  width: 70%;
  height: 50px;
  list-style: none;
  position: absolute;
  left: 420px;
  bottom: 50px;
  z-index: 1;
  float: right;
}
.yuanxiao .right0 .lunbotu .point-list .point {
  width: 20px;
  height: 20px;
  border-radius: 50% 50%;
  background-color: #bdbbbb;
  text-align: center;
  float: left;
  margin-right: 20px;
  position: relative;
  border-radius: 2px;
  top: 50px;
}
.tanchu {
  width: 1200px;
  height: 200px;
  background-color: #b0b0b0;
  position: absolute;
  top: 200px;
  z-index: 2;
}
.sousuo {
  height: 60px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  overflow: hidden;
  background-color: #ebe7e5;
  top: 30px;
}
.sousuo #biaodan1 {
  width: 19%;
  height: 40px;
  display: inline-block;
  position: relative;
  top: 15px;
  margin-left: 30px;
}
.sousuo #weizhi {
  margin-left: 30px;
  display: inline-block;
  position: relative;
  top: 13px;
}
.anniu {
  height: 150px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  overflow: hidden;
  top: 45px;
}
.anniu .no1 {
  height: 130px;
  width: 154.2px;
  position: relative;
  float: left;
  top: 8px;
  margin-right: 20px;
  background-color: #ebe7e5;
  box-shadow: #7c7979 0px 10px 11px 0px;
}
.anniu .no1 .tubiao0 {
  height: 65px;
  width: 65px;
  margin: 0 auto;
  background-color: #07a0f8;
  border-radius: 50%;
  position: relative;
  top: 12px;
}
.anniu .no1 .tubiao0 .tubiao1 {
  height: 35px;
  width: 35px;
  margin: 0 auto;
  position: absolute;
  top: 15px;
  left: 15px;
}
.anniu .no1 .tubiao0 .tubiao1 #tubaio {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 15px;
  left: 15px;
  transition: all 0.5s;
}
.anniu .no1 .wenzi5 {
  height: 16px;
  width: 100%;
  font-size: 15px;
  line-height: 16px;
  font-weight: 800;
  color: black;
  position: relative;
  top: 14px;
  text-align: center;
  display: inline-block;
  z-index: 0;
}
.anniu .no1 .wenzi6 {
  height: 16px;
  width: 100%;
  font-size: 10px;
  line-height: 16px;
  font-weight: 100;
  color: #535151;
  position: relative;
  top: 14px;
  text-align: center;
  display: inline-block;
  z-index: 0;
}
.anniu .no11 {
  margin: 0px;
}
.gaozhongyuanxiao {
  height: 396px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 11px;
  overflow: hidden;
  top: 65px;
}
.gaozhongyuanxiao .left0 {
  width: 300px;
  height: 396px;
  background-color: #ebe7e5;
  display: inline-block;
}
.gaozhongyuanxiao .left0 .l1 {
  height: 39px;
  width: 25%;
  position: absolute;
  border-bottom: 1px solid #353333;
}
.gaozhongyuanxiao .left0 .l1 .gaozhongtubiao {
  height: 36px;
  width: 103px;
  display: inline-block;
}
.gaozhongyuanxiao .left0 .l1 .gaozhongtubiao #l10 {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .left0 .l1 .wenzi2 {
  height: 100%;
  width: 100px;
  font-size: 15px;
  line-height: 33px;
  font-weight: 500;
  color: #353333;
  position: relative;
  top: 6px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 90px;
}
.gaozhongyuanxiao .left0 .l2 {
  height: 277px;
  width: 25%;
  position: absolute;
  top: 39px;
}
.gaozhongyuanxiao .left0 .l2 .tupianyuanxiao {
  height: 100px;
  width: 90%;
  display: inline-block;
}
.gaozhongyuanxiao .left0 .l2 .tupianyuanxiao #l20 {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 23px;
  left: 15px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .left0 .l2 .wenzi3 {
  height: 10%;
  width: 100%;
  font-size: 23px;
  line-height: 33px;
  font-weight: 500;
  color: #0c0c0c;
  position: relative;
  top: 32px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 10px;
  text-align: left;
}
.gaozhongyuanxiao .left0 .l2 .wenzi4 {
  height: 15%;
  width: 100%;
  font-size: 15px;
  line-height: 33px;
  font-weight: 100;
  color: #353333;
  position: relative;
  top: 32px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 10px;
  text-align: left;
}
.gaozhongyuanxiao .left0 .l3 {
  height: 30%;
  width: 25%;
  position: absolute;
  top: 278px;
  border-top: 1px solid #353333;
}
.gaozhongyuanxiao .left0 .l3 ul {
  list-style: square;
}
.gaozhongyuanxiao .left0 .l3 ul li {
  height: 10%;
  width: 100%;
  font-size: 17px;
  line-height: 33px;
  font-weight: 500;
  color: #0c0c0c;
  position: relative;
  top: 9px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 10px;
  text-align: left;
}
.gaozhongyuanxiao .right0 {
  width: 891px;
  height: 396px;
  background-color: #ebe7e5;
  display: inline-block;
  position: relative;
  left: 5px;
}
.gaozhongyuanxiao .right0 .r1 {
  height: 39px;
  width: 100%;
  position: absolute;
}
.gaozhongyuanxiao .right0 .r1 .gaozhongtubiao {
  height: 36px;
  width: 103px;
  display: inline-block;
}
.gaozhongyuanxiao .right0 .r1 .gaozhongtubiao #l10 {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .right0 .r1 .wenzi2 {
  height: 100%;
  width: 100px;
  font-size: 15px;
  line-height: 33px;
  font-weight: 500;
  color: #353333;
  position: relative;
  top: 6px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  left: 680px;
}
.gaozhongyuanxiao .right0 .bujuleft {
  height: 395px;
  width: 49.7%;
  display: inline-block;
  position: relative;
  top: 39px;
  border-right: 1px solid #353333;
}
.gaozhongyuanxiao .right0 .bujuleft .row {
  height: 90px;
  width: 397px;
  margin: 20px;
  position: relative;
}
.gaozhongyuanxiao .right0 .bujuleft .row .logo {
  height: 90px;
  width: 90px;
  border: 1px solid #353333;
  float: left;
}
.gaozhongyuanxiao .right0 .bujuleft .row .logo #logologo {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .right0 .bujuleft .row .wenzi7 {
  height: 30px;
  width: 200px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  text-align: left;
  left: 110px;
  position: absolute;
  display: inline-block;
}
.gaozhongyuanxiao .right0 .bujuleft .row .ruzhu {
  height: 30px;
  width: 60px;
  position: absolute;
  display: inline-block;
  left: 336px;
}
.gaozhongyuanxiao .right0 .bujuleft .row .ruzhu #ruzhulogo {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .right0 .bujuleft .row .wenzi8 {
  height: 30px;
  width: 200px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
  color: #5f5959;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
  left: 110px;
  position: absolute;
  top: 30px;
}
.gaozhongyuanxiao .right0 .bujuleft .row .wenzi9 {
  height: 30px;
  width: 230px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 200;
  color: #a39f9f;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
  left: 110px;
  position: absolute;
  top: 60px;
}
.gaozhongyuanxiao .right0 .bujuright {
  height: 395px;
  width: 49.7%;
  display: inline-block;
  position: relative;
  top: 39px;
}
.gaozhongyuanxiao .right0 .bujuright .row {
  height: 90px;
  width: 397px;
  margin: 20px;
  position: relative;
}
.gaozhongyuanxiao .right0 .bujuright .row .logo {
  height: 90px;
  width: 90px;
  border: 1px solid #353333;
  float: left;
}
.gaozhongyuanxiao .right0 .bujuright .row .logo #logologo {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 1px;
  left: 1px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .right0 .bujuright .row .wenzi7 {
  height: 30px;
  width: 200px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: black;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  text-align: left;
  left: 110px;
  position: absolute;
  display: inline-block;
}
.gaozhongyuanxiao .right0 .bujuright .row .ruzhu {
  height: 30px;
  width: 60px;
  position: absolute;
  display: inline-block;
  left: 336px;
}
.gaozhongyuanxiao .right0 .bujuright .row .ruzhu #ruzhulogo {
  width: 95%;
  height: 95%;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
.gaozhongyuanxiao .right0 .bujuright .row .wenzi8 {
  height: 30px;
  width: 200px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 100;
  color: #5f5959;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
  left: 110px;
  position: absolute;
  top: 30px;
}
.gaozhongyuanxiao .right0 .bujuright .row .wenzi9 {
  height: 30px;
  width: 230px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 200;
  color: #a39f9f;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
  left: 110px;
  position: absolute;
  top: 60px;
}
.guanggao {
  height: 115px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 80px;
  overflow: hidden;
  background: url(素材/guanggao.jpg);
}
.bangzhu {
  height: 220px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 100px;
  overflow: hidden;
  border: 2px solid #383636;
  border-left: none;
  border-right: none;
}
.bangzhu .help1 {
  height: 250px;
  width: 279.2px;
  position: relative;
  float: left;
}
.bangzhu .help1 .biaoti {
  height: 50px;
  width: 150px;
  border-top: 2px solid #757171;
  height: 30px;
  width: 200px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: blue;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
}
.bangzhu .help1 .biaoge {
  height: 200px;
  width: 100%;
  border-top: 1px solid #666262;
}
.bangzhu .help1 .biaoge .wenzileft {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #1e1e1f;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help1 .biaoge .wenziright {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #19191a;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help2 {
  height: 250px;
  width: 279.2px;
  position: relative;
  float: left;
  left: 30px;
}
.bangzhu .help2 .biaoti {
  height: 50px;
  width: 150px;
  border-top: 2px solid #757171;
  height: 30px;
  width: 200px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: blue;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
}
.bangzhu .help2 .biaoge {
  height: 200px;
  width: 100%;
  border-top: 1px solid #666262;
}
.bangzhu .help2 .biaoge .wenzileft {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #1e1e1f;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help2 .biaoge .wenziright {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #19191a;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help3 {
  height: 250px;
  width: 279.2px;
  position: relative;
  float: left;
  left: 60px;
}
.bangzhu .help3 .biaoti {
  height: 50px;
  width: 150px;
  border-top: 2px solid #757171;
  height: 30px;
  width: 200px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: blue;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
}
.bangzhu .help3 .biaoge {
  height: 200px;
  width: 100%;
  border-top: 1px solid #666262;
}
.bangzhu .help3 .biaoge .wenzileft {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #1e1e1f;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help3 .biaoge .wenziright {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #19191a;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help4 {
  height: 250px;
  width: 279.2px;
  position: relative;
  float: left;
  left: 90px;
}
.bangzhu .help4 .biaoti {
  height: 50px;
  width: 150px;
  border-top: 2px solid #757171;
  height: 30px;
  width: 200px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: blue;
  position: relative;
  top: 0px;
  text-align: center;
  display: inline-block;
  z-index: 0;
  text-align: left;
}
.bangzhu .help4 .biaoge {
  height: 200px;
  width: 100%;
  border-top: 1px solid #666262;
}
.bangzhu .help4 .biaoge .wenzileft {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #1e1e1f;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bangzhu .help4 .biaoge .wenziright {
  height: 60px;
  width: 49%;
  font-size: 17px;
  line-height: 30px;
  font-weight: 200;
  color: #19191a;
  position: relative;
  top: 0px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  text-align: left;
}
.bottom {
  height: 115px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 80px;
  overflow: hidden;
  background: url(素材/bottombottom.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.luan {
  height: 35px;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 80px;
  overflow: hidden;
}
